<div>
    <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12" ng-controller="loginCtrl">
                <form name="loginForm" role="form" class="form" ng-submit="login()">
                    <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
                        <input type="email" placeholder="Login" class="form-control input-sm" required ng-model="email" name="email">
                        <div ng-if="loginForm.email.$touched">
                            <div class="help-block" ng-messages="loginForm.email.$error" role="alert">
                                <div ng-message="required">Email address is required</div>
                                <div ng-message="email">This needs to be a valid email</div>
                                <div ng-message-exp="message.type">{{message.text}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                        <input type="password" placeholder="Password" class="form-control input-sm" required ng-model="password" name="password">
                        <div class="help-block" ng-messages="loginForm.password.$error" role="alert" ng-if="loginForm.password.$touched">
                            <div ng-message="required">Password is required</div>
                            <div ng-message-exp="message.type">{{message.text}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Close</button>
    </div>
</div>